<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">#################</font>
<font color="white">##     </font><font color="Yellow">Skill Changer</font><font color="white">    ##</font>
<font color="white">#################</font>

<font color="red">Please ensure you have GM powers and</font>
<font color="red">you have the correct TARGET! selected when using these macros.</font>

<font color="red">Using These modifiers will bypass your IP level Spending Limit</font>
<font color="red">If you Overspend IP you will go into minus figures where further spending</font>
<font color="red">Will become impossible, to aid with this use the IP Points modifier tool </font>
<font color="red">in "Character Modifier" or simply reset the skills back using this one.</font>

Abilities
######

<font color="green">Strength :</font> <a href="chatcmd:///set 16 6">6</a> <a href="chatcmd:///set 16 50">50</a> <a href="chatcmd:///set 16 100">100</a> <a href="chatcmd:///set 16 250">250</a> <a href="chatcmd:///set 16 500">500</a> <a href="chatcmd:///set 16 1000">1000</a> <a href="chatcmd:///set 16 2000">2000</a> <a href="chatcmd:///set 16 3000">3000</a>
<font color="green">Agility :</font> <a href="chatcmd:///set 17 6">6</a> <a href="chatcmd:///set 17 50">50</a> <a href="chatcmd:///set 17 100">100</a> <a href="chatcmd:///set 17 250">250</a> <a href="chatcmd:///set 17 500">500</a> <a href="chatcmd:///set 17 1000">1000</a> <a href="chatcmd:///set 17 2000">2000</a> <a href="chatcmd:///set 17 3000">3000</a>
<font color="green">Stamina :</font> <a href="chatcmd:///set 18 6">6</a> <a href="chatcmd:///set 18 50">50</a> <a href="chatcmd:///set 18 100">100</a> <a href="chatcmd:///set 18 250">250</a> <a href="chatcmd:///set 18 500">500</a> <a href="chatcmd:///set 18 1000">1000</a> <a href="chatcmd:///set 18 2000">2000</a> <a href="chatcmd:///set 18 3000">3000</a>
<font color="green">Intelligence :</font> <a href="chatcmd:///set 19 6">6</a> <a href="chatcmd:///set 19 50">50</a> <a href="chatcmd:///set 19 100">100</a> <a href="chatcmd:///set 19 250">250</a> <a href="chatcmd:///set 19 500">500</a> <a href="chatcmd:///set 19 1000">1000</a> <a href="chatcmd:///set 19 2000">2000</a> <a href="chatcmd:///set 19 3000">3000</a>
<font color="green">Sense :</font> <a href="chatcmd:///set 20 6">6</a> <a href="chatcmd:///set 20 50">50</a> <a href="chatcmd:///set 20 100">100</a> <a href="chatcmd:///set 20 250">250</a> <a href="chatcmd:///set 20 500">500</a> <a href="chatcmd:///set 20 1000">1000</a> <a href="chatcmd:///set 20 2000">2000</a> <a href="chatcmd:///set 20 3000">3000</a>
<font color="green">Psychic :</font> <a href="chatcmd:///set 21 6">6</a> <a href="chatcmd:///set 21 50">50</a> <a href="chatcmd:///set 21 100">100</a> <a href="chatcmd:///set 21 250">250</a> <a href="chatcmd:///set 21 500">500</a> <a href="chatcmd:///set 21 1000">1000</a> <a href="chatcmd:///set 21 2000">2000</a> <a href="chatcmd:///set 21 3000">3000</a>

<font color="red">The following skills being modified only affect the base skill</font>
<font color="red">meaning additional points may be added afterwards </font>
<font color="red">due to trickle from the abilities, items, perks and etc. </font>

Body
####

<font color="green">Martial Arts :</font> <a href="chatcmd:///set 100 6">6</a> <a href="chatcmd:///set 100 50">50</a> <a href="chatcmd:///set 100 100">100</a> <a href="chatcmd:///set 100 250">250</a> <a href="chatcmd:///set 100 500">500</a> <a href="chatcmd:///set 100 1000">1000</a> <a href="chatcmd:///set 100 2000">2000</a> <a href="chatcmd:///set 100 3000">3000</a>
<font color="green">Brawling :</font> <a href="chatcmd:///set 142 6">6</a> <a href="chatcmd:///set 142 50">50</a> <a href="chatcmd:///set 142 100">100</a> <a href="chatcmd:///set 142 250">250</a> <a href="chatcmd:///set 142 500">500</a> <a href="chatcmd:///set 142 1000">1000</a> <a href="chatcmd:///set 142 2000">2000</a> <a href="chatcmd:///set 142 3000">3000</a>
<font color="green">Dimach :</font> <a href="chatcmd:///set 144 6">6</a> <a href="chatcmd:///set 144 50">50</a> <a href="chatcmd:///set 144 100">100</a> <a href="chatcmd:///set 144 250">250</a> <a href="chatcmd:///set 144 500">500</a> <a href="chatcmd:///set 144 1000">1000</a> <a href="chatcmd:///set 144 2000">2000</a> <a href="chatcmd:///set 144 3000">3000</a>
<font color="green">Riposte :</font> <a href="chatcmd:///set 143 6">6</a> <a href="chatcmd:///set 143 50">50</a> <a href="chatcmd:///set 143 100">100</a> <a href="chatcmd:///set 143 250">250</a> <a href="chatcmd:///set 143 500">500</a> <a href="chatcmd:///set 143 1000">1000</a> <a href="chatcmd:///set 143 2000">2000</a> <a href="chatcmd:///set 143 3000">3000</a>
<font color="green">Adventuring :</font> <a href="chatcmd:///set 137 6">6</a> <a href="chatcmd:///set 137 50">50</a> <a href="chatcmd:///set 137 100">100</a> <a href="chatcmd:///set 137 250">250</a> <a href="chatcmd:///set 137 500">500</a> <a href="chatcmd:///set 137 1000">1000</a> <a href="chatcmd:///set 137 2000">2000</a> <a href="chatcmd:///set 137 3000">3000</a>
<font color="green">Swimming :</font> <a href="chatcmd:///set 138 6">6</a> <a href="chatcmd:///set 138 50">50</a> <a href="chatcmd:///set 138 100">100</a> <a href="chatcmd:///set 138 250">250</a> <a href="chatcmd:///set 138 500">500</a> <a href="chatcmd:///set 138 1000">1000</a> <a href="chatcmd:///set 138 2000">2000</a> <a href="chatcmd:///set 138 3000">3000</a>
<font color="green">Body Dev. :</font> <a href="chatcmd:///set 152 6">6</a> <a href="chatcmd:///set 152 50">50</a> <a href="chatcmd:///set 152 100">100</a> <a href="chatcmd:///set 152 250">250</a> <a href="chatcmd:///set 152 500">500</a> <a href="chatcmd:///set 152 1000">1000</a> <a href="chatcmd:///set 152 2000">2000</a> <a href="chatcmd:///set 152 3000">3000</a>
<font color="green">Nano Pool :</font> <a href="chatcmd:///set 132 6">6</a> <a href="chatcmd:///set 132 50">50</a> <a href="chatcmd:///set 132 100">100</a> <a href="chatcmd:///set 132 250">250</a> <a href="chatcmd:///set 132 500">500</a> <a href="chatcmd:///set 132 1000">1000</a> <a href="chatcmd:///set 132 2000">2000</a> <a href="chatcmd:///set 132 3000">3000</a>

Melee
#####

<font color="green">1h Blunt :</font> <a href="chatcmd:///set 102 6">6</a> <a href="chatcmd:///set 102 50">50</a> <a href="chatcmd:///set 102 100">100</a> <a href="chatcmd:///set 102 250">250</a> <a href="chatcmd:///set 102 500">500</a> <a href="chatcmd:///set 102 1000">1000</a> <a href="chatcmd:///set 102 2000">2000</a> <a href="chatcmd:///set 102 3000">3000</a>
<font color="green">1h Edged :</font> <a href="chatcmd:///set 103 6">6</a> <a href="chatcmd:///set 103 50">50</a> <a href="chatcmd:///set 103 100">100</a> <a href="chatcmd:///set 103 250">250</a> <a href="chatcmd:///set 103 500">500</a> <a href="chatcmd:///set 103 1000">1000</a> <a href="chatcmd:///set 103 2000">2000</a> <a href="chatcmd:///set 103 3000">3000</a>
<font color="green">Piercing :</font> <a href="chatcmd:///set 106 6">6</a> <a href="chatcmd:///set 106 50">50</a> <a href="chatcmd:///set 106 100">100</a> <a href="chatcmd:///set 106 250">250</a> <a href="chatcmd:///set 106 500">500</a> <a href="chatcmd:///set 106 1000">1000</a> <a href="chatcmd:///set 106 2000">2000</a> <a href="chatcmd:///set 106 3000">3000</a>
<font color="green">2h Blunt :</font> <a href="chatcmd:///set 107 6">6</a> <a href="chatcmd:///set 107 50">50</a> <a href="chatcmd:///set 107 100">100</a> <a href="chatcmd:///set 107 250">250</a> <a href="chatcmd:///set 107 500">500</a> <a href="chatcmd:///set 107 1000">1000</a> <a href="chatcmd:///set 107 2000">2000</a> <a href="chatcmd:///set 107 3000">3000</a>
<font color="green">2h Edged :</font> <a href="chatcmd:///set 105 6">6</a> <a href="chatcmd:///set 105 50">50</a> <a href="chatcmd:///set 105 100">100</a> <a href="chatcmd:///set 105 250">250</a> <a href="chatcmd:///set 105 500">500</a> <a href="chatcmd:///set 105 1000">1000</a> <a href="chatcmd:///set 105 2000">2000</a> <a href="chatcmd:///set 105 3000">3000</a>
<font color="green">Melee Ener. :</font> <a href="chatcmd:///set 104 6">6</a> <a href="chatcmd:///set 104 50">50</a> <a href="chatcmd:///set 104 100">100</a> <a href="chatcmd:///set 104 250">250</a> <a href="chatcmd:///set 104 500">500</a> <a href="chatcmd:///set 104 1000">1000</a> <a href="chatcmd:///set 104 2000">2000</a> <a href="chatcmd:///set 104 3000">3000</a>
<font color="green">Parry :</font> <a href="chatcmd:///set 145 6">6</a> <a href="chatcmd:///set 145 50">50</a> <a href="chatcmd:///set 145 100">100</a> <a href="chatcmd:///set 145 250">250</a> <a href="chatcmd:///set 145 500">500</a> <a href="chatcmd:///set 145 1000">1000</a> <a href="chatcmd:///set 145 2000">2000</a> <a href="chatcmd:///set 145 3000">3000</a>
<font color="green">Sneak Atck :</font> <a href="chatcmd:///set 146 6">6</a> <a href="chatcmd:///set 146 50">50</a> <a href="chatcmd:///set 146 100">100</a> <a href="chatcmd:///set 146 250">250</a> <a href="chatcmd:///set 146 500">500</a> <a href="chatcmd:///set 146 1000">1000</a> <a href="chatcmd:///set 146 2000">2000</a> <a href="chatcmd:///set 146 3000">3000</a>
<font color="green">Mult. Melee :</font> <a href="chatcmd:///set 101 6">6</a> <a href="chatcmd:///set 101 50">50</a> <a href="chatcmd:///set 101 100">100</a> <a href="chatcmd:///set 101 250">250</a> <a href="chatcmd:///set 101 500">500</a> <a href="chatcmd:///set 101 1000">1000</a> <a href="chatcmd:///set 101 2000">2000</a> <a href="chatcmd:///set 101 3000">3000</a>
<font color="green">Fast Attack :</font> <a href="chatcmd:///set 147 6">6</a> <a href="chatcmd:///set 147 50">50</a> <a href="chatcmd:///set 147 100">100</a> <a href="chatcmd:///set 147 250">250</a> <a href="chatcmd:///set 147 500">500</a> <a href="chatcmd:///set 147 1000">1000</a> <a href="chatcmd:///set 147 2000">2000</a> <a href="chatcmd:///set 147 3000">3000</a>

Misc Weapons
##########

<font color="green">Sharp Obj :</font> <a href="chatcmd:///set 108 6">6</a> <a href="chatcmd:///set 108 50">50</a> <a href="chatcmd:///set 108 100">100</a> <a href="chatcmd:///set 108 250">250</a> <a href="chatcmd:///set 108 500">500</a> <a href="chatcmd:///set 108 1000">1000</a> <a href="chatcmd:///set 108 2000">2000</a> <a href="chatcmd:///set 108 3000">3000</a>
<font color="green">Grenade :</font> <a href="chatcmd:///set 109 6">6</a> <a href="chatcmd:///set 109 50">50</a> <a href="chatcmd:///set 109 100">100</a> <a href="chatcmd:///set 109 250">250</a> <a href="chatcmd:///set 109 500">500</a> <a href="chatcmd:///set 109 1000">1000</a> <a href="chatcmd:///set 109 2000">2000</a> <a href="chatcmd:///set 109 3000">3000</a>
<font color="green">Heavy Weapons :</font> <a href="chatcmd:///set 110 6">6</a> <a href="chatcmd:///set 110 50">50</a> <a href="chatcmd:///set 110 100">100</a> <a href="chatcmd:///set 110 250">250</a> <a href="chatcmd:///set 110 500">500</a> <a href="chatcmd:///set 110 1000">1000</a> <a href="chatcmd:///set 110 2000">2000</a> <a href="chatcmd:///set 110 3000">3000</a>

Ranged
######

<font color="green">Bow :</font> <a href="chatcmd:///set 111 6">6</a> <a href="chatcmd:///set 111 50">50</a> <a href="chatcmd:///set 111 100">100</a> <a href="chatcmd:///set 111 250">250</a> <a href="chatcmd:///set 111 500">500</a> <a href="chatcmd:///set 111 1000">1000</a> <a href="chatcmd:///set 111 2000">2000</a> <a href="chatcmd:///set 111 3000">3000</a>
<font color="green">Pistol :</font> <a href="chatcmd:///set 112 6">6</a> <a href="chatcmd:///set 112 50">50</a> <a href="chatcmd:///set 112 100">100</a> <a href="chatcmd:///set 112 250">250</a> <a href="chatcmd:///set 112 500">500</a> <a href="chatcmd:///set 112 1000">1000</a> <a href="chatcmd:///set 112 2000">2000</a> <a href="chatcmd:///set 112 3000">3000</a>
<font color="green">Assault Rif :</font> <a href="chatcmd:///set 116 6">6</a> <a href="chatcmd:///set 116 50">50</a> <a href="chatcmd:///set 116 100">100</a> <a href="chatcmd:///set 116 250">250</a> <a href="chatcmd:///set 116 500">500</a> <a href="chatcmd:///set 116 1000">1000</a> <a href="chatcmd:///set 116 2000">2000</a> <a href="chatcmd:///set 116 3000">3000</a>
<font color="green">MG / SMG :</font> <a href="chatcmd:///set 114 6">6</a> <a href="chatcmd:///set 114 50">50</a> <a href="chatcmd:///set 114 100">100</a> <a href="chatcmd:///set 114 250">250</a> <a href="chatcmd:///set 114 500">500</a> <a href="chatcmd:///set 114 1000">1000</a> <a href="chatcmd:///set 114 2000">2000</a> <a href="chatcmd:///set 114 3000">3000</a>
<font color="green">Shotgun :</font> <a href="chatcmd:///set 115 6">6</a> <a href="chatcmd:///set 115 50">50</a> <a href="chatcmd:///set 115 100">100</a> <a href="chatcmd:///set 115 250">250</a> <a href="chatcmd:///set 115 500">500</a> <a href="chatcmd:///set 115 1000">1000</a> <a href="chatcmd:///set 115 2000">2000</a> <a href="chatcmd:///set 115 3000">3000</a>
<font color="green">Rifle :</font> <a href="chatcmd:///set 113 6">6</a> <a href="chatcmd:///set 113 50">50</a> <a href="chatcmd:///set 113 100">100</a> <a href="chatcmd:///set 113 250">250</a> <a href="chatcmd:///set 113 500">500</a> <a href="chatcmd:///set 113 1000">1000</a> <a href="chatcmd:///set 113 2000">2000</a> <a href="chatcmd:///set 113 3000">3000</a>
<font color="green">Ranged Ener :</font> <a href="chatcmd:///set 133 6">6</a> <a href="chatcmd:///set 133 50">50</a> <a href="chatcmd:///set 133 100">100</a> <a href="chatcmd:///set 133 250">250</a> <a href="chatcmd:///set 133 500">500</a> <a href="chatcmd:///set 133 1000">1000</a> <a href="chatcmd:///set 133 2000">2000</a> <a href="chatcmd:///set 133 3000">3000</a>
<font color="green">Fling Shot :</font> <a href="chatcmd:///set 150 6">6</a> <a href="chatcmd:///set 150 50">50</a> <a href="chatcmd:///set 150 100">100</a> <a href="chatcmd:///set 150 250">250</a> <a href="chatcmd:///set 150 500">500</a> <a href="chatcmd:///set 150 1000">1000</a> <a href="chatcmd:///set 150 2000">2000</a> <a href="chatcmd:///set 150 3000">3000</a>
<font color="green">Aimed Shot :</font> <a href="chatcmd:///set 151 6">6</a> <a href="chatcmd:///set 151 50">50</a> <a href="chatcmd:///set 151 100">100</a> <a href="chatcmd:///set 151 250">250</a> <a href="chatcmd:///set 151 500">500</a> <a href="chatcmd:///set 151 1000">1000</a> <a href="chatcmd:///set 151 2000">2000</a> <a href="chatcmd:///set 151 3000">3000</a>
<font color="green">Burst :</font> <a href="chatcmd:///set 148 6">6</a> <a href="chatcmd:///set 148 50">50</a> <a href="chatcmd:///set 148 100">100</a> <a href="chatcmd:///set 148 250">250</a> <a href="chatcmd:///set 148 500">500</a> <a href="chatcmd:///set 148 1000">1000</a> <a href="chatcmd:///set 148 2000">2000</a> <a href="chatcmd:///set 148 3000">3000</a>
<font color="green">Full Auto :</font> <a href="chatcmd:///set 167 6">6</a> <a href="chatcmd:///set 167 50">50</a> <a href="chatcmd:///set 167 100">100</a> <a href="chatcmd:///set 167 250">250</a> <a href="chatcmd:///set 167 500">500</a> <a href="chatcmd:///set 167 1000">1000</a> <a href="chatcmd:///set 167 2000">2000</a> <a href="chatcmd:///set 167 3000">3000</a>
<font color="green">Bow Spc Att :</font> <a href="chatcmd:///set 121 6">6</a> <a href="chatcmd:///set 121 50">50</a> <a href="chatcmd:///set 121 100">100</a> <a href="chatcmd:///set 121 250">250</a> <a href="chatcmd:///set 121 500">500</a> <a href="chatcmd:///set 121 1000">1000</a> <a href="chatcmd:///set 121 2000">2000</a> <a href="chatcmd:///set 121 3000">3000</a>
<font color="green">Multi Ranged :</font> <a href="chatcmd:///set 134 6">6</a> <a href="chatcmd:///set 134 50">50</a> <a href="chatcmd:///set 134 100">100</a> <a href="chatcmd:///set 134 250">250</a> <a href="chatcmd:///set 134 500">500</a> <a href="chatcmd:///set 134 1000">1000</a> <a href="chatcmd:///set 134 2000">2000</a> <a href="chatcmd:///set 134 3000">3000</a>

Speed
######

<font color="green">Melee. Init :</font> <a href="chatcmd:///set 118 6">6</a> <a href="chatcmd:///set 118 50">50</a> <a href="chatcmd:///set 118 100">100</a> <a href="chatcmd:///set 118 250">250</a> <a href="chatcmd:///set 118 500">500</a> <a href="chatcmd:///set 118 1000">1000</a> <a href="chatcmd:///set 118 2000">2000</a> <a href="chatcmd:///set 118 3000">3000</a>
<font color="green">Ranged. Init :</font> <a href="chatcmd:///set 119 6">6</a> <a href="chatcmd:///set 119 50">50</a> <a href="chatcmd:///set 119 100">100</a> <a href="chatcmd:///set 119 250">250</a> <a href="chatcmd:///set 119 500">500</a> <a href="chatcmd:///set 119 1000">1000</a> <a href="chatcmd:///set 119 2000">2000</a> <a href="chatcmd:///set 119 3000">3000</a>
<font color="green">Physic. Init :</font> <a href="chatcmd:///set 120 6">6</a> <a href="chatcmd:///set 120 50">50</a> <a href="chatcmd:///set 120 100">100</a> <a href="chatcmd:///set 120 250">250</a> <a href="chatcmd:///set 120 500">500</a> <a href="chatcmd:///set 120 1000">1000</a> <a href="chatcmd:///set 120 2000">2000</a> <a href="chatcmd:///set 120 3000">3000</a>
<font color="green">NanoC. Init. :</font> <a href="chatcmd:///set 149 6">6</a> <a href="chatcmd:///set 149 50">50</a> <a href="chatcmd:///set 149 100">100</a> <a href="chatcmd:///set 149 250">250</a> <a href="chatcmd:///set 149 500">500</a> <a href="chatcmd:///set 149 1000">1000</a> <a href="chatcmd:///set 149 2000">2000</a> <a href="chatcmd:///set 149 3000">3000</a>
<font color="green">Dodge-Rng :</font> <a href="chatcmd:///set 154 6">6</a> <a href="chatcmd:///set 154 50">50</a> <a href="chatcmd:///set 154 100">100</a> <a href="chatcmd:///set 154 250">250</a> <a href="chatcmd:///set 154 500">500</a> <a href="chatcmd:///set 154 1000">1000</a> <a href="chatcmd:///set 154 2000">2000</a> <a href="chatcmd:///set 154 3000">3000</a>
<font color="green">Evade-ClsC :</font> <a href="chatcmd:///set 155 6">6</a> <a href="chatcmd:///set 155 50">50</a> <a href="chatcmd:///set 155 100">100</a> <a href="chatcmd:///set 155 250">250</a> <a href="chatcmd:///set 155 500">500</a> <a href="chatcmd:///set 155 1000">1000</a> <a href="chatcmd:///set 155 2000">2000</a> <a href="chatcmd:///set 155 3000">3000</a>
<font color="green">Duck-Exp :</font> <a href="chatcmd:///set 153 6">6</a> <a href="chatcmd:///set 153 50">50</a> <a href="chatcmd:///set 153 100">100</a> <a href="chatcmd:///set 153 250">250</a> <a href="chatcmd:///set 153 500">500</a> <a href="chatcmd:///set 153 1000">1000</a> <a href="chatcmd:///set 153 2000">2000</a> <a href="chatcmd:///set 153 3000">3000</a>
<font color="green">Nano Resist :</font> <a href="chatcmd:///set 168 6">6</a> <a href="chatcmd:///set 168 50">50</a> <a href="chatcmd:///set 168 100">100</a> <a href="chatcmd:///set 168 250">250</a> <a href="chatcmd:///set 168 500">500</a> <a href="chatcmd:///set 168 1000">1000</a> <a href="chatcmd:///set 168 2000">2000</a> <a href="chatcmd:///set 168 3000">3000</a>
<font color="green">Run Speed :</font> <a href="chatcmd:///set 156 6">6</a> <a href="chatcmd:///set 156 50">50</a> <a href="chatcmd:///set 156 100">100</a> <a href="chatcmd:///set 156 250">250</a> <a href="chatcmd:///set 156 500">500</a> <a href="chatcmd:///set 156 1000">1000</a> <a href="chatcmd:///set 156 2000">2000</a> <a href="chatcmd:///set 156 3000">3000</a>

Trade & Repair
###########

<font color="green">Mech. Engi :</font> <a href="chatcmd:///set 125 6">6</a> <a href="chatcmd:///set 125 50">50</a> <a href="chatcmd:///set 125 100">100</a> <a href="chatcmd:///set 125 250">250</a> <a href="chatcmd:///set 125 500">500</a> <a href="chatcmd:///set 125 1000">1000</a> <a href="chatcmd:///set 125 2000">2000</a> <a href="chatcmd:///set 125 3000">3000</a>
<font color="green">Elec. Engi :</font> <a href="chatcmd:///set 126 6">6</a> <a href="chatcmd:///set 126 50">50</a> <a href="chatcmd:///set 126 100">100</a> <a href="chatcmd:///set 126 250">250</a> <a href="chatcmd:///set 126 500">500</a> <a href="chatcmd:///set 126 1000">1000</a> <a href="chatcmd:///set 126 2000">2000</a> <a href="chatcmd:///set 126 3000">3000</a>
<font color="green">Quantum FT :</font> <a href="chatcmd:///set 157 6">6</a> <a href="chatcmd:///set 157 50">50</a> <a href="chatcmd:///set 157 100">100</a> <a href="chatcmd:///set 157 250">250</a> <a href="chatcmd:///set 157 500">500</a> <a href="chatcmd:///set 157 1000">1000</a> <a href="chatcmd:///set 157 2000">2000</a> <a href="chatcmd:///set 157 3000">3000</a>
<font color="green">Weapon Smt :</font> <a href="chatcmd:///set 158 6">6</a> <a href="chatcmd:///set 158 50">50</a> <a href="chatcmd:///set 158 100">100</a> <a href="chatcmd:///set 158 250">250</a> <a href="chatcmd:///set 158 500">500</a> <a href="chatcmd:///set 158 1000">1000</a> <a href="chatcmd:///set 158 2000">2000</a> <a href="chatcmd:///set 158 3000">3000</a>
<font color="green">Pharma Tech :</font> <a href="chatcmd:///set 159 6">6</a> <a href="chatcmd:///set 159 50">50</a> <a href="chatcmd:///set 159 100">100</a> <a href="chatcmd:///set 159 250">250</a> <a href="chatcmd:///set 159 500">500</a> <a href="chatcmd:///set 159 1000">1000</a> <a href="chatcmd:///set 159 2000">2000</a> <a href="chatcmd:///set 159 3000">3000</a>
<font color="green">Nano Progra :</font> <a href="chatcmd:///set 160 6">6</a> <a href="chatcmd:///set 160 50">50</a> <a href="chatcmd:///set 160 100">100</a> <a href="chatcmd:///set 160 250">250</a> <a href="chatcmd:///set 160 500">500</a> <a href="chatcmd:///set 160 1000">1000</a> <a href="chatcmd:///set 160 2000">2000</a> <a href="chatcmd:///set 160 3000">3000</a>
<font color="green">Comp. Liter :</font> <a href="chatcmd:///set 161 6">6</a> <a href="chatcmd:///set 161 50">50</a> <a href="chatcmd:///set 161 100">100</a> <a href="chatcmd:///set 161 250">250</a> <a href="chatcmd:///set 161 500">500</a> <a href="chatcmd:///set 161 1000">1000</a> <a href="chatcmd:///set 161 2000">2000</a> <a href="chatcmd:///set 161 3000">3000</a>
<font color="green">Psychology :</font> <a href="chatcmd:///set 162 6">6</a> <a href="chatcmd:///set 162 50">50</a> <a href="chatcmd:///set 162 100">100</a> <a href="chatcmd:///set 162 250">250</a> <a href="chatcmd:///set 162 500">500</a> <a href="chatcmd:///set 162 1000">1000</a> <a href="chatcmd:///set 162 2000">2000</a> <a href="chatcmd:///set 162 3000">3000</a>
<font color="green">Chemistry :</font> <a href="chatcmd:///set 163 6">6</a> <a href="chatcmd:///set 163 50">50</a> <a href="chatcmd:///set 163 100">100</a> <a href="chatcmd:///set 163 250">250</a> <a href="chatcmd:///set 163 500">500</a> <a href="chatcmd:///set 163 1000">1000</a> <a href="chatcmd:///set 163 2000">2000</a> <a href="chatcmd:///set 163 3000">3000</a>
<font color="green">Tutoring :</font> <a href="chatcmd:///set 141 6">6</a> <a href="chatcmd:///set 141 50">50</a> <a href="chatcmd:///set 141 100">100</a> <a href="chatcmd:///set 141 250">250</a> <a href="chatcmd:///set 141 500">500</a> <a href="chatcmd:///set 141 1000">1000</a> <a href="chatcmd:///set 141 2000">2000</a> <a href="chatcmd:///set 141 3000">3000</a>

Nano & Aiding
###########

<font color="green">Matt.Metam :</font> <a href="chatcmd:///set 127 6">6</a> <a href="chatcmd:///set 127 50">50</a> <a href="chatcmd:///set 127 100">100</a> <a href="chatcmd:///set 127 250">250</a> <a href="chatcmd:///set 127 500">500</a> <a href="chatcmd:///set 127 1000">1000</a> <a href="chatcmd:///set 127 2000">2000</a> <a href="chatcmd:///set 127 3000">3000</a>
<font color="green">Bio Metamor :</font> <a href="chatcmd:///set 128 6">6</a> <a href="chatcmd:///set 128 50">50</a> <a href="chatcmd:///set 128 100">100</a> <a href="chatcmd:///set 128 250">250</a> <a href="chatcmd:///set 128 500">500</a> <a href="chatcmd:///set 128 1000">1000</a> <a href="chatcmd:///set 128 2000">2000</a> <a href="chatcmd:///set 128 3000">3000</a>
<font color="green">Psycho Modi :</font> <a href="chatcmd:///set 129 6">6</a> <a href="chatcmd:///set 129 50">50</a> <a href="chatcmd:///set 129 100">100</a> <a href="chatcmd:///set 129 250">250</a> <a href="chatcmd:///set 129 500">500</a> <a href="chatcmd:///set 129 1000">1000</a> <a href="chatcmd:///set 129 2000">2000</a> <a href="chatcmd:///set 129 3000">3000</a>
<font color="green">Matter Crea :</font> <a href="chatcmd:///set 130 6">6</a> <a href="chatcmd:///set 130 50">50</a> <a href="chatcmd:///set 130 100">100</a> <a href="chatcmd:///set 130 250">250</a> <a href="chatcmd:///set 130 500">500</a> <a href="chatcmd:///set 130 1000">1000</a> <a href="chatcmd:///set 130 2000">2000</a> <a href="chatcmd:///set 130 3000">3000</a>
<font color="green">Time&Space :</font> <a href="chatcmd:///set 131 6">6</a> <a href="chatcmd:///set 131 50">50</a> <a href="chatcmd:///set 131 100">100</a> <a href="chatcmd:///set 131 250">250</a> <a href="chatcmd:///set 131 500">500</a> <a href="chatcmd:///set 131 1000">1000</a> <a href="chatcmd:///set 131 2000">2000</a> <a href="chatcmd:///set 131 3000">3000</a>
<font color="green">Sensory Impr :</font> <a href="chatcmd:///set 122 6">6</a> <a href="chatcmd:///set 122 50">50</a> <a href="chatcmd:///set 122 100">100</a> <a href="chatcmd:///set 122 250">250</a> <a href="chatcmd:///set 122 500">500</a> <a href="chatcmd:///set 122 1000">1000</a> <a href="chatcmd:///set 122 2000">2000</a> <a href="chatcmd:///set 122 3000">3000</a>
<font color="green">First Aid :</font> <a href="chatcmd:///set 123 6">6</a> <a href="chatcmd:///set 123 50">50</a> <a href="chatcmd:///set 123 100">100</a> <a href="chatcmd:///set 123 250">250</a> <a href="chatcmd:///set 123 500">500</a> <a href="chatcmd:///set 123 1000">1000</a> <a href="chatcmd:///set 123 2000">2000</a> <a href="chatcmd:///set 123 3000">3000</a>
<font color="green">Treatment :</font> <a href="chatcmd:///set 124 6">6</a> <a href="chatcmd:///set 124 50">50</a> <a href="chatcmd:///set 124 100">100</a> <a href="chatcmd:///set 124 250">250</a> <a href="chatcmd:///set 124 500">500</a> <a href="chatcmd:///set 124 1000">1000</a> <a href="chatcmd:///set 124 2000">2000</a> <a href="chatcmd:///set 124 3000">3000</a>

Spying
#####

<font color="green">Concealment :</font> <a href="chatcmd:///set 164 6">6</a> <a href="chatcmd:///set 164 50">50</a> <a href="chatcmd:///set 164 100">100</a> <a href="chatcmd:///set 164 250">250</a> <a href="chatcmd:///set 164 500">500</a> <a href="chatcmd:///set 164 1000">1000</a> <a href="chatcmd:///set 164 2000">2000</a> <a href="chatcmd:///set 164 3000">3000</a>
<font color="green">Breal&Entry :</font> <a href="chatcmd:///set 165 6">6</a> <a href="chatcmd:///set 165 50">50</a> <a href="chatcmd:///set 165 100">100</a> <a href="chatcmd:///set 165 250">250</a> <a href="chatcmd:///set 165 500">500</a> <a href="chatcmd:///set 165 1000">1000</a> <a href="chatcmd:///set 165 2000">2000</a> <a href="chatcmd:///set 165 3000">3000</a>
<font color="green">Trap Disarm. :</font> <a href="chatcmd:///set 135 6">6</a> <a href="chatcmd:///set 135 50">50</a> <a href="chatcmd:///set 135 100">100</a> <a href="chatcmd:///set 135 250">250</a> <a href="chatcmd:///set 135 500">500</a> <a href="chatcmd:///set 135 1000">1000</a> <a href="chatcmd:///set 135 2000">2000</a> <a href="chatcmd:///set 135 3000">3000</a>
<font color="green">Perception :</font> <a href="chatcmd:///set 136 6">6</a> <a href="chatcmd:///set 136 50">50</a> <a href="chatcmd:///set 136 100">100</a> <a href="chatcmd:///set 136 250">250</a> <a href="chatcmd:///set 136 500">500</a> <a href="chatcmd:///set 136 1000">1000</a> <a href="chatcmd:///set 136 2000">2000</a> <a href="chatcmd:///set 136 3000">3000</a>

Navigation
########

<font color="green">Vehicle Air :</font> <a href="chatcmd:///set 139 6">6</a> <a href="chatcmd:///set 139 50">50</a> <a href="chatcmd:///set 139 100">100</a> <a href="chatcmd:///set 139 250">250</a> <a href="chatcmd:///set 139 500">500</a> <a href="chatcmd:///set 139 1000">1000</a> <a href="chatcmd:///set 139 2000">2000</a> <a href="chatcmd:///set 139 3000">3000</a>
<font color="green">Vehicle Ground :</font> <a href="chatcmd:///set 166 6">6</a> <a href="chatcmd:///set 166 50">50</a> <a href="chatcmd:///set 166 100">100</a> <a href="chatcmd:///set 166 250">250</a> <a href="chatcmd:///set 166 500">500</a> <a href="chatcmd:///set 166 1000">1000</a> <a href="chatcmd:///set 166 2000">2000</a> <a href="chatcmd:///set 166 3000">3000</a>
<font color="green">Vehicle Water :</font> <a href="chatcmd:///set 117 6">6</a> <a href="chatcmd:///set 117 50">50</a> <a href="chatcmd:///set 117 100">100</a> <a href="chatcmd:///set 117 250">250</a> <a href="chatcmd:///set 117 500">500</a> <a href="chatcmd:///set 117 1000">1000</a> <a href="chatcmd:///set 117 2000">2000</a> <a href="chatcmd:///set 117 3000">3000</a>
<font color="green">Map Navig. :</font> <a href="chatcmd:///set 140 6">6</a> <a href="chatcmd:///set 140 50">50</a> <a href="chatcmd:///set 140 100">100</a> <a href="chatcmd:///set 140 250">250</a> <a href="chatcmd:///set 140 500">500</a> <a href="chatcmd:///set 140 1000">1000</a> <a href="chatcmd:///set 140 2000">2000</a> <a href="chatcmd:///set 140 3000">3000</a>

