<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">######################</font>
<font color="white">## </font><font color="Yellow">Stationary Turret Morphs</font><font color="white"> ##</font>
<font color="white">######################</font>

<font color="red">Please ensure you have GM powers and</font>
<font color="red">you have the correct TARGET! selected when using these macros.</font>

<font color="white">Anti-Person</font>

<a href="chatcmd:///set 359 262316">Anti-Personel Gun - Atrox</a>
<a href="chatcmd:///set 359 262313">Anti-Personel Gun - Opifex Female</a>
<a href="chatcmd:///set 359 262315">Anti-Personel Gun - Opifex male</a>
<a href="chatcmd:///set 359 262312">Anti-Personel Gun - Solitus Female</a>
<a href="chatcmd:///set 359 262302">Anti-Personel Gun - Solitus Male</a>

<a href="chatcmd:///set 359 265754">Anti-Personel Gun - Upgraded - Atrox</a>
<a href="chatcmd:///set 359 265780">Anti-Personel Gun - Upgraded - Opifex Female</a>
<a href="chatcmd:///set 359 265675">Anti-Personel Gun - Upgraded - Opifex Male</a>
<a href="chatcmd:///set 359 265756">Anti-Personel Gun - Upgraded - Solitus Female</a>
<a href="chatcmd:///set 359 262318">Anti-Personel Gun - Upgraded - Solitus Male</a>

<font color="white">Anti-Vehicle</font>

<a href="chatcmd:///set 359 265802">Anti-Vehicular Battery - Atrox</a>
<a href="chatcmd:///set 359 262396">Anti-Vehicular Battery - Opifex Female</a>
<a href="chatcmd:///set 359 265808">Anti-Vehicular Battery - Opifex Female</a>
<a href="chatcmd:///set 359 265846">Anti-Vehicular Battery - Opifex Male</a>
<a href="chatcmd:///set 359 265795">Anti-Vehicular Battery - Solitus Female</a>
<a href="chatcmd:///set 359 262389">Anti-Vehicular Battery - Solitus Male</a>

<a href="chatcmd:///set 359 265853">Anti-Vehicular Battery - Upgraded - Atrox </a>
<a href="chatcmd:///set 359 265854">Anti-Vehicular Battery - Upgraded - Opifex Female</a>
<a href="chatcmd:///set 359 265855">Anti-Vehicular Battery - Upgraded - Opifex Male</a>
<a href="chatcmd:///set 359 265849">Anti-Vehicular Battery - Upgraded - Solitus Female</a>
<a href="chatcmd:///set 359 262390">Anti-Vehicular Battery - Upgraded - Solitus Male</a>

<font color="white">Other</font>

<a href="chatcmd:///set 359 262331">Sam Battery</a>
<a href="chatcmd:///set 359 209712">Guard Turret</a>