<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">##################</font>
<font color="white">##   </font><font color="Yellow">Creature Morphs</font><font color="white">   ##</font>
<font color="white">##################</font>

<font color="red">Please ensure you have GM powers and</font>
<font color="red">you have the correct TARGET! selected when using these macros.</font>

<a href="chatcmd:///set 359 17655">Leet</a>
<a href="chatcmd:///set 359 217022">Spirit</a>
<a href="chatcmd:///set 359 30365">Parrot</a>
<a href="chatcmd:///set 359 41690">Skeleton</a>
<a href="chatcmd:///set 359 158176">Morgan</a>
<a href="chatcmd:///set 359 30464">Shade</a>
<a href="chatcmd:///set 359 38394">Lifebleeder</a>
<a href="chatcmd:///set 359 95356">Reaper</a>
<a href="chatcmd:///set 359 205931">Bane</a>
<a href="chatcmd:///set 359 256518">Draculeet</a>
<a href="chatcmd:///set 359 256519">Frankenleet</a>
<a href="chatcmd:///set 359 205935">Skincrawler</a>
<a href="chatcmd:///set 359 152519">Tri Plumbo</a>
<a href="chatcmd:///set 359 30258">Biofreak</a>
<a href="chatcmd:///set 359 17710">Pit Lizard</a>
<a href="chatcmd:///set 359 227238">Totem</a>
<a href="chatcmd:///set 359 30356">Sabretooth</a>
<a href="chatcmd:///set 359 30348">Wolf</a>
<a href="chatcmd:///set 359 259812">Dancing Atrox</a>
<a href="chatcmd:///set 359 41652">Battlesuit-Wearing Character</a>
<a href="chatcmd:///set 359 154698">Ninjadroid Boss</a>
<a href="chatcmd:///set 359 159966">Atrox Energy Boss</a>
<a href="chatcmd:///set 359 163003">Unicorn Boss</a>
<a href="chatcmd:///set 359 209347">Weaver Of Shadow</a>
<a href="chatcmd:///set 359 32419">Snake</a>