<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">##################</font>
<font color="white">##      </font><font color="Yellow">Leet Morphs</font><font color="white">      ##</font>
<font color="white">##################</font>

<font color="red">Please ensure you have GM powers and</font>
<font color="red">you have the correct TARGET! selected when using these macros.</font>

<a href="chatcmd:///set 359 17655">Leet</a>
<a href="chatcmd:///set 359 157180">Leet 2</a>
<a href="chatcmd:///set 359 256518">Draculeet</a>
<a href="chatcmd:///set 359 256519">Frankenleet</a>
<a href="chatcmd:///set 359 247801">athleet</a>
<a href="chatcmd:///set 359 247829">Leetzilla</a>
<a href="chatcmd:///set 359 247831">Masculeet</a>
<a href="chatcmd:///set 359 247832">Cheerleet</a>
<a href="chatcmd:///set 359 247834">Deleet</a>
<a href="chatcmd:///set 359 247835">Bruce Leet</a>
<a href="chatcmd:///set 359 247836">Invaleet</a>
<a href="chatcmd:///set 359 247837">Bulleet</a>
<a href="chatcmd:///set 359 247838">Violeet</a>
<a href="chatcmd:///set 359 247839">Calculeet</a>
<a href="chatcmd:///set 359 252342">Leetor</a>
<a href="chatcmd:///set 359 226880">Shadowleet</a>