<center>
<a href="chatcmd:///script CellAoGuardian">Home</a>

<font color="white">##################</font>
<font color="white">##  </font><font color="Yellow">Character Morpher</font><font color="white">  ##</font>
<font color="white">##################</font>

<font color="red">Please ensure you have GM powers and</font>
<font color="red">you have the correct TARGET! selected when using these macros.</font>

<font color="red">Make sure you set character back to the original shape</font>
<font color="red">before logging out to avoid glitches.</font>

<a href="chatcmd:///script CellAO-Guardian\Char_Morpher\creatures\cellaomorphscre">Creatures</a>

<a href="chatcmd:///script CellAO-Guardian\Char_Morpher\leetpower\cellaomorphsleet">Leets</a>

<a href="chatcmd:///script CellAO-Guardian\Char_Morpher\Vehicles\cellaomorphsvhc">Vehicle</a>

<a href="chatcmd:///script CellAO-Guardian\Char_Morpher\Stationary\cellaomorphsstd">Turrets</a>

<a href="chatcmd:///script CellAO-Guardian\Char_Morpher\Orginal\cellaomorphsorg">Orginal V4 Morph</a>

##

<a href="chatcmd:///set 359 0">Set back to Original Character</a>